<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <% if(locals.editing) {%>
                <title>Editing <%= entry.name %></title>
            <% }else { %>
                <title>New Product</title>
            <% } %>
        <link rel="stylesheet" href="/css/style.css"/>
        <script src="/js/specifications.js"></script>
    </head>
    <body>
        <% if(locals.editing) {%>
            <form id="new-product-form" action="/api/products/<%= entry.product_id %>?HTMLFormFix=true&redirect=true" method="POST">
            <input type="hidden" name="_method" value="PUT" />
        <% }else { %>
            <form id="new-product-form" action="/api/products?HTMLFormFix=true&redirect=true" method="POST">
        <% } %>
            <fieldset>
            <legend>Product Information</legend>
            <div>
                <label for="name">Name</label>
                <input id="name" name="name" type="text" value="<% if(locals.editing) {%> <%=entry.name%> <%} %>"/>
            </div>
            <div>
                <label for="description" >Description</label>
                <textarea id="description" name="description" type="text" ><% if(locals.editing) {%> <%=entry.description%> <%} %></textarea>
            </div>
            <div>
                <label for="type">Type</label>
                <input id="type" name="type" type="text" value="<% if(locals.editing) {%> <%=entry.type%> <%} %>"/>
            </div>
            <div>
                <label for="category">Category</label>
                <input id="category" name="category" type="text" value="<% if(locals.editing) {%> <%=entry.category%> <%} %>"/>
            </div>
            </fieldset>

            <fieldset>
            <legend>Specifications</legend>
            <label for="specification">Add Specification</label>
            <div class="flex">
                <input id="specification" name="specfication" placeholder="Name" type="text" />
                <button id="add-specification">+</button>
            </div>
            <div id="specifications">
            <% if(locals.editing) {%>
                <% for([key, value] of Object.entries(entry.specifications)) { %>
                    <div>
                        <label><%= key %></label>
                        <div class="flex">
                            <input id="specifications.<%= key %>" name="specifications.<%= key %>" type="text" value="<%= value %>">
                            <button class="deleteButton">-</button>
                        </div>
                    </div>
                <% } %>
            <% } %>
            </div>

            </fieldset>
            <input type="submit" value="Submit"/>
            <a href="/products" >Cancel</a>
        </form>
    </body>
</html>
